body{
}
.Header{
    background-color: grey;
    height: auto;
    width: auto;
    padding: 1rem;
    display: block;
}

.logo{
    justify-content: left;
    background-color: lightblue;
    padding: 1rem;
    border-radius: 10%;
    font-size: x-large;
}

.header-right{
    display: flex;
    border-radius: 10%;
    font-size: x-large;
    justify-content: right;
    float: right;
    gap: 10%;
}
.Inicio {
    display: flex;
    flex-direction: column;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.4)),
        url('https://images.freeimages.com/images/large-previews/9ab/le-cinema-1442829.jpg');
    background-size: cover;
    width: 100%;
    padding: 5rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: white;
    font-size: xx-large;
    align-items: left;
}

.Footer{
    background-color: darkgray;
    font-size: large;
    display: flex;
    flex-direction: row;
    gap: 30%;
    align-items: flex-end;
    align-content: space-between;
    padding: auto;
}
.endereco{
    justify-content: left;
}
.copyright{
    justify-content: center;
}
.icones{
    align-self: right;
    align-content: space-between;
}
.icones img {
    width: 50px;
    border-radius: 50%;
}